# Build Artifacts
[Bb]in/
[Oo]bj/
[Tt]emp/

# Deployment Artifacts
*.dacpac
*.publish.xml

# Visual Studio Code / IDE
.vscode/
.vs/
*.rsuser
*.suo

# Operating System Caches
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Sensitive Files
*.user
*.userosscache
secrets.json
