# Build Artifacts


# Deployment Artifacts


# Visual Studio Code / IDE
.vscode/
.vs/
*.rsuser
*.suo

# Operating System Caches
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# Sensitive Files
*.user
*.userosscache
secrets.json
